body {
    background-color: black;
    /* background-image: url("../img/dyesinlet.jpg"); */
    background-repeat: no-repeat;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: grey;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: grey;
}

.blurb {
    width: 95%;
    font-family: san-serif;
    font-size: 13pt;
    color: grey;
}

.email {
  width: 100%;
  background-color: rgba(0,0,0,0.55);
}

.contact {
  color: lightgrey;
}

.content {
  top: 2px;
  width: 75% !important;
}

#sectionHome {
  background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
  background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
  background: linear-gradient(#4BBFC3,#7BAABE);
}

#sectionAbout {
  background-image: url('../img/about_bg.jpg');
  background-size: contain;
}

#sectionContact {
  background-image: url('../img/contact_bg.jpg');
  background-size: contain;
}

.logo img {
  height: 450px;
}

/*
 * Profiles
 */

.profiles {
  color: lightgrey;
}

.profiles h2 {
  color: darkgrey;
  width: 100%;
  background-color: rgba(0, 0, 150, 0.5);
}

.profileName span {
  color: darkgrey;
}

.profileName span.active {
  color: grey;
}

.profile {
  color: lightgrey;
  background-color: rgba(0, 0, 255, 0.5);
}

.profile img {
  float: left;
  height: 250px;
  padding: 10px 10px 10px 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu {
  top: 0px;
  left: 0px;
}

.menu li {
  display: inline-block;
}

.menu li.active {
  border-left-style: dotted;
  border-left-width: thick;
  border-left-color: purple;
}

.header {
  height: 2em;
  top: 0px;
}

.pageHeader {
  position:fixed;
  height: 40px;
  display:block;
  width: 100%;
  background: #333;
  z-index:9;
  text-align:center;
  color: darkgray;
  padding: 5px 0 0 5px;
}

.pageContent {
    height: 90%;
}

.pageFooter {
    padding-top: 5px;
    color: darkgray;
}

.pageTitle {
    font-family: san-serif;
    color: gainsboro;
}

.header-links {
    margin: -3px 0px 0px 0px;
    float: left;
    font-family: "courier new";
    font-size: 26;
}


/* -------
 Social Links
-------- */
.social-icons {
    margin: 0px 0px 0px 90%;
    text-align: right;
}

.social-icons a {
    margin: 2px 3px 0 0;
    width: 29px;
    height: 29px;
    display: block;
    float: left;
}

.fb-icon {
    background: url(../img/fb.png);
}

.twitter-icon {
    background-image: url(../img/twitter.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}
