body {
    background-color: black;
    /* background-image: url("../img/dyesinlet.jpg"); */
    background-repeat: no-repeat;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.blurb {
    width: 95%;
    font-family: san-serif;
    font-size: 13pt;
    color: black;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pageHeader {
    text-align: left;
    padding-bottom: 5px;
    color: darkgray;
    height: 32px;
}

.pageContent {
    height: 90%;
}

.pageFooter {
    padding-top: 5px;
    color: darkgray;
}

.pageTitle {
    font-family: san-serif;
    color: gainsboro;
}

.header-links {
    margin: 0px 0px 0px 0px;
    float: left;
    font-family: "courier new";
    font-size: 26;
}


/* -------
 Social Links
-------- */
.social-icons {
    margin: 0px 0px 0px 90%;
    text-align: right;
}

.social-icons a {
    margin: 5px 3px 0 0;
    width: 29px;
    height: 29px;
    display: block;
    float: left;
}


.fb-icon {
    background: url(../img/fb.png);
}

.twitter-icon {
    background-image: url(../img/twitter.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}
