div(name='emailRequest')
  span(class='blurb')
    | We are preparing to open a board game pub in Kitsap County. We will serve local beers, ciders and wine, along with great games. Play any of our large selection of games from 1 to many players, with guidance from our knowledgeable bartenders.
    | At this time we are not planning to serve food, but feel free to bring in your own. We will have menus for all the local delivery services for your convenience.
    | We are a Safe Place and we welcome all!
  br
  div(id='mc_embed_signup')
    form(action='//pub.us11.list-manage.com/subscribe/post?u=337fefae20f48cd756c93315b&amp;id=91b8267f42' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' novalidate)
      div(id='mc_embed_signup_scroll')
        label(for='mce-EMAIL')
          | Subscribe to our mailing list
        div(class='input-group')
          input(type='email' value='' name='EMAIL' class='form-control' ng.model='email.address' id='mce-EMAIL' placeholder='email address' required)
          span(class='input-group-btn')
            input(type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='btn btn-default')
            
        div(style='position: absolute; left: -5000px;')
          input(type='text' name='b_337fefae20f48cd756c93315b_91b8267f42' tabindex='-1' value='')
